/* General layout */
.app {
  display: block;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-color: #ffffff;
}

/* Remove the fade-in animations */
.fade-in {
  opacity: 1;
  /* No transition */
}

.fade-in.visible {
  opacity: 1;
  /* Ensures full visibility */
}

/* Each block should take full height and center content */
.sticky-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  scroll-snap-align: start;
  width: 100%;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

/* General header and text styling */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #000;
  text-align: left;
  max-width: 90vw;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

/* Ensure lists sit properly under headings */
ol,
ul {
  width: 100%;
  max-width: 90vw;
  font-size: 1.5rem;
  color: #000;
  padding: 0;
  list-style-type: none;  
}

ol li,
ul li {
  margin-bottom: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  ol,
  ul {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  ol,
  ul {
    font-size: 1rem;
  }
}