/* General layout */
.app {
  display: block;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-color: #ffffff;
}

/* Remove the fade-in animations */
.fade-in {
  opacity: 1; /* No transition */
}

.fade-in.visible {
  opacity: 1; /* Ensures full visibility */
}

/* Each block should take full height and center content */
.sticky-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  width: 100%;
  flex-direction: column;
}

/* General header and text styling */
h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #000;
}

h1 {
  font-size: 6rem;
  text-align: left;
  padding: 2rem;
}

h2 {
  font-size: 4rem;
  text-align: left;
  padding: 0 5%; /* Apply equal padding to both left and right */
}

h3 {
  font-size: 3rem;
  text-align: left;
  padding: 0 5%; /* Apply equal padding to both left and right */
}

/* List styling */
ol, ul {
  padding-left: 5%;
  font-size: 1.5rem;
  color: #000;
}

ol li, ul li {
  margin-bottom: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
    padding: 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  ol, ul {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
    padding: 1rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  h3 {
    font-size: 2rem;
  }

  ol, ul {
    font-size: 1rem;
  }
}
